@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    overflow-y: scroll;
}

/*? General classes */

.title2 {
    font-size:84px;
    line-height:92px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.paragraph {
    font-size:18px;
    line-height:24px;
    color:#514C3B;
    font-family: 'Work Sans', sans-serif;
}

/*! Header */

.header {
    margin-top:150px;
    margin-left:100px;
    max-width:100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.header-textContainer {
    max-width:500px;
}

.header-textContainer p {
    margin-top:20px;
    max-width:500px;
}

.header-imgContainer {
    display: flex;
    gap:20px;
}

.header-imgContainer div {
    max-width:100%;
}

.header-imgContainer div img{
    width:100%;
}

/*! Section */

.section {
    margin-inline:100px;
    margin-top:200px;
}

.trainings-container {
    margin-top:64px;
    display: flex;
    gap:74px;
}

.menu-container {
    width:280px;
}

.title3 {
    width:100%;
    font-size: 24px;
    line-height: 32px;
    color: #A8A8A8;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.list {
    margin-top:32px;
    list-style: none;
}

.list li {
    font-size: 24px;
    line-height: 32px;
    color: #141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding: 9px 20px;
    cursor: pointer;
}

.list li:not(:last-child) {
    margin-bottom:22px;
}

.list li:hover {
    background-color:#FFF5E5;
    border-radius: 8px;
}

.trainings-section {
    flex: 1;
}

.trainings-section .cell:not(:first-child) {
    margin-top:56px;
}

.trainings-title {
    font-size: 40px;
    line-height: 40px;
    color: #141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.description-container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    column-gap: 20px;
    row-gap:30px;
}

.border {
    margin-top:68px;
    border-bottom: 1px solid #E3E1DC;
}

@media screen and (max-width:420px) {

    /*? General classes */

    .title2 {
        font-size:40px;
        line-height:44px;
    }
    
    .paragraph {
        font-size:16px;
        line-height:22px;
    }

    /*? Header */

    .header {
        margin-top:70px;
        margin-left:20px;
        margin-right:20px;
        max-width:100%;
        flex-direction: column;
        gap:24px;
        align-items:center;
    }
    
    .header-imgContainer {
        display: flex;
        gap:8px;
    }

    /*? Trainings section*/

    .section {
        margin-inline:20px;
        margin-top:60px;
    }
    
    .trainings-container {
        margin-top:30px;
        flex-direction: column;
        gap:40px;
    }
    
    .menu-container {
        width:100%;
    }
    
    .title3 {
        font-size: 20px;
        line-height: 20px;
    }
    
    .list {
        margin-top:32px;
        list-style: none;
        display: flex;
    }
    
    .list li {
        font-size: 20px;
        line-height: 24px;
    }
        
    .trainings-title {
        font-size: 30px;
        line-height: 32px;
    }
    
    .description-container {
        grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    }

}