@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.backdrop {
    position: absolute;
    z-index: -2;
    left:0;
    right:0;
    bottom:0;
    top:0;
    backdrop-filter: blur(10px);
}

.backdrop.active {
    z-index:998;
    filter: brightness(95%);
}

.paragraph {
    width:100%;
    font-size: 16px;
    line-height: 22px;
    color:#514C3B;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

.cart {
    transition: transform 400ms ease-in;
    transform: translateX(100%);
    background-color: #FFFBF5;
    position: absolute;
    top:0;
    right:0;
    padding:24px 60px 48px 60px;
    display: flex;
    flex-direction: column;
    z-index:999;
}

.cart.move {
    transform: translateX(0);
}

.cart-container {
    width:400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title2 {
    font-size:84px;
    line-height:92px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.cart-items {
    padding-right: 20px;
    margin-top:80px;
    display: flex;
    flex-direction: column;
    gap:20px;
    max-height:400px;
    overflow-y: auto;
}

.cart-items p {
    text-align: center;
}

.logo {
    cursor: pointer;
}

.total-container {
    margin-top:20px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subTotal {
    font-size: 24px;
    line-height: 32px;
    color:#514C3B;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

.total-price {
    font-size: 24px;
    line-height: 32px;
    color:#141515;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.line {
    margin:24px 0;
    width:100%;
    border-bottom: 1px solid #E3E1DC;
}

.button {
    cursor: pointer;
    margin-top:40px;
    font-size: 18px;
    line-height: 24px;
    color:#FFFFFF;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    background-color: #141515;
    padding:12px 151px;
    border-radius: 8px;
}

.button:disabled {
    opacity:0.70;
    filter:brightness(50%);
}

@media screen and (max-width:420px) {
   
    .paragraph {
        width:100%;
        font-size: 16px;
        line-height: 20px;
    }
    
    .cart {
        top:0;
        right:0;
        left:0;
        padding:24px 20px 48px 20px;
    }
    
    .cart-container {
        width:100%;
    }
    
    .title2 {
        font-size:40px;
        line-height:44px;
    }
    
    .cart-items {
        margin-top:80px;
        max-height:400px;
    }
    
    .subTotal {
        font-size: 20px;
        line-height: 24px;
    }
    
    .total-price {
        font-size: 18px;
        line-height: 24px;
    }
        
    .button {
        font-size: 18px;
        line-height: 24px;
        padding:12px 20px;
    }
}