@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*? General classes */

.title2 {
    margin-top:62px;
    font-size:84px;
    line-height:92px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.error {
    margin-top:10px;
    font-size:16px;
    line-height:18px;
    color:crimson;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/*! Section */

.section {
    padding-inline:100px;
    padding-bottom:120px;
}

.checkout-container {
    margin-top:82px;
    display: flex;
    justify-content: space-between;
}

/*! Personal info section */

.info-block {
    display: flex;
    flex-direction: column;
}

.info-block:not(:first-child) {
    margin-top:100px;
}

.personal-info {
    width:510px;
}

.title3 {
    font-size:24px;
    line-height:32px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.input {
    margin-top:32px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #A8A8A8;
    outline: none;
    padding:10px 0;

    font-size:20px;
    line-height:22px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.input::placeholder {
    font-size:24px;
    line-height:32px;
    color:#514C3B;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.delivery {
    margin-top:32px;
    display: flex;
    flex-direction: column;
    gap:12px;
}

.delivery-type {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #A8A8A866;
    padding:16px 24px;
    border-radius: 4px;
}

.title4 {
    font-size:24px;
    line-height:32px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.description {
    font-size:18px;
    line-height:24px;
    color:#A8A8A8;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.price {
    margin-right:20px;
    font-size:24px;
    line-height:32px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.price::after,
.price::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.price::after {
    top:2px;
    height:20px;
    width:20px;
    border: 2px solid #A8A8A8;
    right:-33px;
}

.price::before {
    background-color: #FCD303;
    height:12px;
    width:12px;
    right:-27px;
    top:8px;
    opacity:0;
    visibility: hidden;
}

.delivery-type [type='radio'] {
    display: none;
}

.delivery-type:has([type='radio']:checked) {
   background-color: #FFF5E5;
   border-color:#141515;
}

.delivery-type [type='radio']:checked ~ .price::before {
    opacity:1;
    visibility: visible;
}

.delivery-type [type='radio']:checked ~ .price::after {
    border-color: #FCD303;
}

.validity {
    display: flex;
    gap:25px;
}

.buttons {
    margin-top:64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftBtn {
    text-decoration: none;
    font-size:18px;
    line-height:24px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.rightBtn {
    background-color: #141515;
    border: none;

    font-size:18px;
    line-height:24px;
    padding:12px 24px;
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    cursor:pointer;
}

.rightBtn:disabled {
    opacity:0.70;
    filter:brightness(50%);
}


.rightBtn:hover:not([disabled]) {
    transition: transform 200ms ease-in-out;
    transform: scale(1.05);
}

.rightBtn:active:not([disabled]) {
    transform: scale(0.9);
}


@media screen and (max-width:420px) {
    .title2 {
        font-size: 50px;
        line-height: 44px;
    }

    .section {
        padding-inline:20px;
        padding-bottom:60px;
    }
    
    .checkout-container {
        margin-top:30px;
        flex-direction: column-reverse;
        gap:64px;
    }

    /*? Personal info section */
  
    
    .personal-info {
        width:100%;
    }
    
    .input {  
        font-size:24px;
        line-height:32px;
    }
    
    .input::placeholder {
        font-size:18px;
        line-height:24px;
    }
    
    .delivery-type {
        padding:16px 16px;
    }
    
    .title4 {
        font-size:20px;
        line-height:26px;
    }
    
    .description {
        font-size:16px;
        line-height:22px;
    }
    
    .price {
        margin-right:30px;
        font-size:20px;
        line-height:26px;
    }
    
    .price::before {
        top:8px;
    }
    
    .validity {
        display: flex;
        gap:20px;
    }
    
    .validity > * {
        width:50%;
    }
    
    .buttons {
        flex-direction: column;
        gap:24px;
    }
        
    .rightBtn {
        align-self: center;
    }
}