@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container {
    max-width:1440px;
    padding: 115px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline:auto;
}

.reverse {
    flex-direction: row-reverse;
}

.titleMob {
    display: none;
}

.imgHolder {
    max-width:505px;
}

.imgHolder img {
    width:100%;
}

.title2 {
    max-width:610px;
    font-size:84px;
    line-height:92px;
    color:#141515;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.paragraph {
    margin-top:24px;
    font-size:18px;
    line-height:24px;
    color:#514C3B;
    font-family: 'Work Sans', sans-serif;
    max-width:501px;
}

@media screen and (max-width:420px) {

    .container {
        max-width:100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap:0;
        align-items: center;
        justify-content: space-between;
    }
    
    .titleMob {
        display: block;
        min-width:100%;
        font-size:40px;
        line-height:44px;
        margin-bottom: 24px;
        color:#141515;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }
    
    .imgHolder {
        max-width:100%;
    }
    
    .title2 {
        display: none;
    }
    
    .paragraph {
        font-size:16px;
        line-height:22px;
        max-width:100%;
    }
}
